---
import Layout from "@layouts/Layout.astro";
---

<Layout
	title="Om oss - Sustainable action foundation"
	description="Vi arbetar för långsiktigt hållbara lokalsamhällen inom de planetära gränserna genom kommunala och regionala färdplaner."
>
	<main class="padding-inline-50 padding-block-300">
		<section>
			<container-text class="margin-inline-auto">
				<h1>Sustainable Action Foundation</h1>
			</container-text>
		</section>

		<section>
			<container-text class="margin-inline-auto">
				<h2>Om oss</h2>
				<p>
					<b class="font-weight-bold">Insamlingsstiftelsen</b> arbetar
					för ett hållbart samhälle inom planetens gränser, med fokus på
					miljö, klimat, biodiversitet och ekosystem. Genom initiativ som
					bygger på systemanalyser och samverkan främjar vi projekt som
					stärker samhällets förmåga att fatta hållbara beslut.
				</p>
				<p>
					Vi stödjer hållbara innovationer inom teknik, policy och
					arbetssätt, samt erbjuder resurser och utbildning för att
					stärka andra aktörer med liknande mål. Vår verksamhet
					omfattar forskning, utveckling, nätverksbyggande och
					kunskapsspridning, allt för att bidra till ett långsiktigt
					hållbart samhälle.
				</p>
			</container-text>
		</section>

		<section>
			<container-text class="margin-inline-auto">
				<h2>Stiftelsens ändamål</h2>
				<p>
					Insamlingsstiftelsens övergripande ändamål är att främja ett
					välfungerande samhälle som är långsiktigt hållbart ur ett
					ekonomiskt, ekologiskt och socialt perspektiv och som håller
					sig inom ramen för de planetära gränserna eller liknande
					koncept. Med utgångspunkt i samtidens behov tar
					insamlingsstiftelsen initiativ som bevarar och stärker
					samhällets miljömässiga fundament i form av exempelvis
					klimat, naturresurser, biodiversitet och ekosystem, samt
					ökar samhällets förmåga att beakta dessa fundament i beslut
					och vägval.
				</p>
				<p>
					Insamlingsstiftelsen verkar för sitt ändamål både genom egna
					insatser och genom samverkan med, eller bidrag och
					stipendium till, individer och organisationer. För att
					insatserna så effektivt som möjligt ska bidra till ändamålen
					ska insamlingsstiftelsen fokusera på initiativ som grundas i
					en samhällsanalys med systemperspektiv, där samhället
					förstås utifrån hur olika frågor och områden samverkar med
					och påverkar andra. Exempel på sådana områden är samhällets
					lagar och regler, ekonomi, vetenskap och teknik, informella
					och formella processer, tradition och historik, kunskap,
					föreställningar och världsbilder. Med grund i denna analys
					ska insamlingsstiftelsen verka för:
				</p>
				<ul>
					<li>
						Att identifiera och adressera luckor och brister i
						samhällsapparaten, inklusive så kallade organisatoriska
						mellanrum, där beslutande organs operationalisering ej
						fungerar på ett tillfredsställande sätt via offentliga
						aktörer eller som täcks upp på annat sätt av privata
						initiativ.
					</li>
					<li>
						Att samordna, samverka med och stödja aktörer som vill
						verka eller verkar i linje med insamlingsstiftelsens
						ändamål, framför allt genom att bistå med saknade
						resurser såsom kompetens, kunskap, ekonomiska medel,
						ledarskap och styrning.
					</li>
					<li>
						Främja tillämpning av innovationer inom exempelvis
						teknik, policy, arbetssätt, metoder, processer och
						samverkansformer.
					</li>
					<li>
						Forskning och utveckling, så som framtagande av analyser
						och underlag samt förslag på policy och styrmedel till
						beslutsfattare.
					</li>
					<li>
						Utbildning och spridning av kunskap som en lärande
						process.
					</li>
					<li>
						Utveckling och stödjande av nätverk, mötesplatser och
						initiativ i linje med insamlingsstiftelsens ändamål.
					</li>
				</ul>
				<p>
					Insamlingsstiftelsen ska tillgodose sitt ändamål genom att
					använda sina insamlade medel och dess avkastning för att
					genomföra interna insatser, utdela anslag, stödja eller
					samverka med fysiska- och juridiska personer eller på annat
					sätt främja insamlingsstiftelsens ändamål.
				</p>
			</container-text>
		</section>

		<section>
			<container-text class="margin-inline-auto">
				<h2>Styrelse</h2>
				<ul>
					<li>Carlos Andersson</li>
					<li>Therese Bohlin</li>
					<li>Mikael Kilter</li>
					<li>Martin Wetterstedt</li>
				</ul>
			</container-text>
		</section>

		<section>
			<container-text class="margin-inline-auto">
				<h2>kontakt</h2>
				<address>
					ins. stift. Sustainable Action Foundation <br />
					c/o Mikael Kilter <br />
					Vegagatan 36 <br />
					413 09 Göteborg
				</address>
			</container-text>
		</section>

		<section>
			<container-text class="margin-inline-auto">
				<h2>Säte</h2>
				<address>
					ins. stift. Sustainable Action Foundation <br />
					c/o Martin Wetterstedt <br />
					Ulleråkersvägen 78 <br />
					756 43 Uppsala 
				</address>
			</container-text>
		</section>

	</main>
</Layout>
