---
	import Layout from "@layouts/Layout.astro"
---

<Layout
	title="Om oss - Sustainable action foundation"
	description="Vi arbetar för långsiktigt hållbara lokalsamhällen inom de planetära gränserna genom kommunala och regionala färdplaner."
>
	<main>
		<section class="padding-inline-50">
            <container class="margin-inline-auto">
                <h1>Om oss</h1>
            </container>
        </section>
    </main>
</Layout>

