---
	import Layout from "@layouts/Layout.astro"
---

<Layout
	title="Om oss - Sustainable action foundation"
	description="Vi arbetar för långsiktigt hållbara lokalsamhällen inom de planetära gränserna genom kommunala och regionala färdplaner."
>
	<main>
		<section class="padding-inline-50 padding-block-300">
            <container-text class="margin-inline-auto">
                <h1>Om oss</h1>
				<p>
					<b class="font-weight-bold">Insamlingsstiftelsen</b> arbetar för ett hållbart samhälle inom planetens gränser, 
					med fokus på miljö, klimat, biodiversitet och ekosystem. Genom initiativ 
					som bygger på systemanalyser och samverkan främjar vi projekt som stärker 
					samhällets förmåga att fatta hållbara beslut.
				</p>
				<p>
					Vi stödjer hållbara innovationer inom teknik, policy och arbetssätt, 
					samt erbjuder resurser och utbildning för att stärka andra aktörer med liknande mål. 
					Vår verksamhet omfattar forskning, utveckling, nätverksbyggande och kunskapsspridning, 
					allt för att bidra till ett långsiktigt hållbart samhälle.
				</p>
            </container-text>
        </section>
    </main>
</Layout>
