--- 
    import { pbFetch, removeTags } from "@functions";
    import Layout from "@layouts/Layout.astro";

    const programs: Array<Program> = await pbFetch({
        collection: "programs",
        sort: "-created",
    });

    programs.forEach((program: Program) => {
        const previewString = removeTags(program.description)
        if (previewString && previewString.length > 100) {
            program.preview = `${previewString.slice(0, 97)}...`
        } else if (previewString) {
            program.preview = previewString
        }

    })


---

<Layout
    title="Program - Sustainable action foundation"
    description="Program"
    url="https://sustainable-action.org/program/"
>
    <main>
		<section class="padding-inline-50 padding-bottom-300">
            <container class="margin-inline-auto">
                <h1 class="margin-bottom-0 margin-top-300">Program</h1>
                <p>
                    Stiftelsen planerar att organisera sitt arbete under program, vilka i sin tur inrymmer olika projekt. 
                    Programmen kan ha sin egna styrelse, budget och referensgrupp.
                </p>
                <ul>
                    {programs.map((program: Program) => (
                        <li class="padding-block-100">
                            <a href={`/program/${program.id}`} class="inline-block" style="vertical-align: middle;">
                                <h2 class="margin-0">{program.title}</h2> 
                                {program.preview}
                            </a>
                        </li>
                    ))}
                </ul>
            </container>
        </section>
    </main>
</Layout>

<style>
    li {
        width: min(75ch, 100%);
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        text-decoration: underline;
    }

</style>