---
	import Layout from "@layouts/Layout.astro"
---

<Layout
	title="Styrelse - Sustainable action foundation"
	description="Styrelse"
>
	<main>
		<section class="padding-inline-50">
            <container class="margin-inline-auto">
                <h1>Vår styrelse</h1>
            </container>
        </section>
    </main>
</Layout>

