---
	import Layout from "../layouts/Layout.astro"
---

<Layout>
	<main>
		<section class="padding-inline-50">
			<container class="margin-inline-auto"> 
				<h1>Sustainable Action Foundation</h1>
			</container>
		</section>
	</main>
</Layout>

<style>
	section h1 {
		font-size: 2em;
		margin-block-start: .5rem;
		margin-block-end: .5rem;
	}
</style>