---

---

<script>    

    function submitMail(event: Event) {
        const status_message_element = document.getElementById('message_status') 
        if (!status_message_element) { // TODO: Can i just do this? 
            return
        }

        event.preventDefault();

        const formData = new FormData(event.currentTarget as HTMLFormElement);

        const data = {
            name: formData.get("name"),
            email: formData.get("email"),
            contents: formData.get("contents"), 
            siteVerifyToken: formData.get("cf-turnstile-response")
        }

        const socket = new WebSocket("ws://localhost:8080");
        socket.addEventListener("open", () => {
            socket.send(JSON.stringify(data));
            // TODO: Can i add a loader here?
            // TODO: If so set aria and style loading spinner using css
            // TODO: Disable button while loading aswell
        });
        
        socket.addEventListener("message", (message) => {
            const response = JSON.parse(message.data)

            if (response.context == 'email') {
                if (response.status == false) {
                    status_message_element.style.color = 'red'
                    status_message_element.innerText = 'Något gick fel när ditt meddelande skulle skickas. Vänligen uppdatera sidan eller vänta en stund och försök igen.'  // TODO: Seperate messages for a failed captcha and failure to send email?
                } else {
                    status_message_element.style.color = 'green'
                    status_message_element.innerText = 'Tack för ditt meddelande!'
                }
            } 
            
            if (response.context == 'turnstile') {
                status_message_element.style.color = 'red'
                status_message_element.innerText = 'Något gick fel när ditt meddelande skulle skickas. Vänligen uppdatera sidan eller vänta en stund och försök igen.'
            }

            socket.close()
        }) 
    }

    document.getElementById('email-form')?.addEventListener('submit', submitMail)

</script>

<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

{/* TODO: Clarify names and id's here */}
<form id="email-form">
    <label class="font-weight-500 block margin-block-100">
        Namn
        <input class="margin-block-25" type="text" name="name" id="name" />
    </label>
    <label class="font-weight-500 block margin-block-100">
        E-postadress
        <input class="margin-block-25" type="email" name="email" id="email" />
    </label>
    <label class="font-weight-500 block margin-block-100">
        Meddelande
        <textarea class="margin-block-25" name="contents" id="contents" style="min-height: 175px; resize: vertical;" />
    </label>
    <div class="margin-block-100" style="height: 65px;">
        <div 
            class="cf-turnstile" 
            data-sitekey="0x4AAAAAABVKHoNTtZQdCs02" 
            data-callback="javascriptCallback" 
            data-theme="light"
            data-size="flexible">
        </div>
    </div>
    <flex class="justify-content-space-between align-items-center gap-100 flex-wrap-wrap">
        <button 
            class="flex align-items-center justify-content-space-between gap-100 padding-inline-100 font-weight-500" 
            type="submit" 
            id="submit-email" 
        >
            Skicka meddelande
            <img src="/icons/send.svg" width="20" height="20" alt="" />
        </button>
        <span id="message_status"></span>
    </flex>
</form>

<style> 
    span {
        max-width: 50ch;
    }

    button {
        background-color: #2f7537; 
        color: white; 
        font-size: .85rem; 
        border-radius: .25rem; 
        line-height: 1; 
        min-height: 36px;
        transition: box-shadow .2s ease,
                    background-color .2s ease;
    }

    button:hover {
		background-color: #378540;
		box-shadow: 3px 3px #2f7537;
	}

    button:active {
        transform: scale(.97);
        box-shadow: none;
    }


</style>