---

---

<script>    

    function submitMail(event: Event) {
        event.preventDefault();

        const formData = new FormData(event.currentTarget as HTMLFormElement);

        const data = {
            email: formData.get("email"),
            contents: formData.get("contents"), 
            siteVerifyToken: formData.get("cf-turnstile-response")
        }

        const socket = new WebSocket("ws://localhost:8080");
        socket.addEventListener("open", () => {
            socket.send(JSON.stringify(data));
        });
        
        socket.addEventListener("message", () => {
            socket.close()
        })
    }

    document.getElementById('email-form')?.addEventListener('submit', submitMail)

</script>

<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

<form id="email-form">
    <label class="font-weight-500 block margin-block-100">
        E-postadress
        <input class="margin-block-25" type="email" name="email" id="email" />
    </label>
    <label class="font-weight-500 block margin-block-100">
        Meddelande
        <textarea class="margin-block-25" name="contents" id="contents" style="min-height: 175px; resize: vertical;" />
    </label>
    <button class="font-weight-500 margin-inline-auto block" type="submit" id="submit-email" style="background-color: #337c3b; color: white; width: min(400px, 100%);" >Skicka meddelande</button>
    <div class="margin-top-200 margin-inline-auto" style="height: 65px; width: 300px;">
        <div 
            class="cf-turnstile" 
            data-sitekey="0x4AAAAAABVKHoNTtZQdCs02" 
            data-callback="javascriptCallback" 
            data-theme="light">
        </div>
    </div>
</form>
