<div class="wrapper">
    <div class="background-wrapper"> 
        <h1 class="text-align-center margin-0 position-relative" style="color: white; font-family: inter; text-shadow: 0 0 2px black;">Sustainable Action Foundation</h1>
        <h2 class="font-weight-500 text-align-center margin-top-100 position-relative" style="color: white;">För en hållbar framtid inom planetens gränser</h2>
        <img class="background-image" src="/ambient/bi.avif" />
    </div> 
    <grid class="position-relative margin-inline-auto gap-100" >
        <article> 
            <h2 class="margin-block-100 text-align-center">Om stiftelsen</h2>
            <p class="flex-grow-100">
                Insamlingsstiftelsens övergripande ändamål är att främja ett välfungerande samhälle 
                som är långsiktigt hållbart ur ett ekonomiskt, ekologiskt och socialt perspektiv och som 
                håller...
            </p>
            <a href="/om" class="justify-content-center" style="width: 100%;">
                Läs mer om stiftelsen
                <img src="/icons/chevron-right.svg" alt="" />
            </a>
        </article>
        <article>
            <h2 class="margin-block-100 text-align-center">Program och projekt</h2>
            <p class="flex-grow-100">
                Stiftelsen planerar att organisera sitt arbete under program, vilka i sin tur 
                inrymmer olika projekt. Programmen kan ha sin egna styrelse, budget och referensgrupp.
            </p>
            <a href="/program" class="justify-content-center" style="width: 100%;">
                Visa program och projekt
                <img src="/icons/chevron-right.svg" alt="" />
            </a>
        </article>
        <article>
            <h2 class="margin-block-100 text-align-center">Nyheter</h2>
            <p class="flex-grow-100">
             </p>
            <a href="/nyheter" class="justify-content-center" style="width: 100%;">
                Läs fler nyheter
                <img src="/icons/chevron-right.svg" alt="" />
            </a>
        </article>
    </grid>
</div>

<style>
    .wrapper {
        --background-image-height: 750px;
        --grid-image-height: 208px;
        --grid-image-transform: -64px;
        --header-height: calc(40px + 1rem);

        height: calc(var(--background-image-height) + var(--grid-image-height) + var(--grid-image-transform) - var(--header-height));
        margin-bottom: 3rem;
    }

    .background-wrapper {
        height: calc(var(--background-image-height) - var(--header-height));
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        font-size: 4rem;
    }

    h1, h2 {
        z-index: 2;
    }

    .background-wrapper h2 {
        margin-bottom: 125px;
    }

    .background-image {
        object-fit: cover;
        position: absolute;
        top: calc(var(--header-height) * -1 - .5rem); /* Header minus margins */
        margin-top: .5rem;
        left: 50%;
        transform: translateX(-50%) scaleX(-1); 
        height: var(--background-image-height);
        width: calc(100% - 1rem);
        border-radius: .5rem; 
        z-index: 1; 
        object-position: bottom;
    }

    grid {
        background-color: rgba(245, 245, 245);
        border-radius: .25rem;
        padding-block: 1rem;
        grid-template-columns: 1fr 1fr 1fr; 
        width: min(1088px, 100%); 
        z-index: 2;
        transform: translateY(var(--grid-image-transform));
    }

    grid article {
        transition: box-shadow .2s ease, gap .2s ease;
        width: 100%;
        padding-inline: 1.5rem;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    grid article:not(:last-child):after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(calc(.5rem + 1px), -50%);
        height: 40px;
        width: 1px;
        background-color: silver;
    }

    grid article h2 {
        margin-bottom: 0;

    }

    grid article p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
                line-clamp: 3; 
        -webkit-box-orient: vertical;
    }

</style>