<div class="wrapper">
    <div class="background-wrapper"> 
        <h1 class="text-align-center margin-0 position-relative">Sustainable Action Foundation</h1>
        <h2 class="font-weight-500 text-align-center margin-top-100 position-relative">För en hållbar framtid inom planetens gränser</h2>
        <img class="background-image" src="/ambient/vindkraftverk.avif" />
    </div> 
    <grid class="position-relative margin-inline-auto gap-100" >
        <article> 
            <h2 class="margin-block-100 text-align-center">Om stiftelsen</h2>
            <p class="flex-grow-100">
                Insamlingsstiftelsens övergripande ändamål är att främja ett välfungerande samhälle 
                som är långsiktigt hållbart ur ett ekonomiskt, ekologiskt och socialt perspektiv och som 
                håller...
            </p>
            <a href="/about" class="justify-content-center" style="width: 100%;">
                Läs mer om stiftelsen
                <img src="/icons/chevron-right.svg" alt="" />
            </a>
        </article>
        <article>
            <h2 class="margin-block-100 text-align-center">Program och projekt</h2>
            <p class="flex-grow-100">
                Stiftelsen planerar att organisera sitt arbete under program, vilka i sin tur 
                inrymmer olika projekt. Programmen kan ha sin egna styrelse, budget och referensgrupp.
            </p>
            <a href="/program" class="justify-content-center" style="width: 100%;">
                Visa program och projekt
                <img src="/icons/chevron-right.svg" alt="" />
            </a>
        </article>
        <article>
            <h2 class="margin-block-100 text-align-center">Nyheter</h2>
            <p class="flex-grow-100">
                Stiftelsen publicerar regelbundet nyheter...
            </p>
            <a href="/nyheter" class="justify-content-center" style="width: 100%;">
                Läs fler nyheter
                <img src="/icons/chevron-right.svg" alt="" />
            </a>
        </article>
    </grid>
</div>

<style>
    .wrapper {
        --background-image-height: 750px;
        --grid-image-height: 350px;
        --grid-image-transform: -125px;
        --header-height: calc(40px + 1rem);

        height: calc(var(--background-image-height) + var(--grid-image-height) + var(--grid-image-transform) - var(--header-height));
        margin-bottom: 3rem;
    }

    .background-wrapper {
        height: calc(var(--background-image-height) - var(--header-height));
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        font-size: 4rem;
    }

    h1, h2 {
        z-index: 2;
    }

    .background-wrapper h2 {
        margin-bottom: 125px;
    }

    .background-image {
        object-fit: cover;
        position: absolute;
        top: calc(var(--header-height) * -1 - .5rem); /* Header minus margins */
        margin-top: .5rem;
        left: 50%;
        transform: translateX(-50%); 
        height: var(--background-image-height);
        width: calc(100% - 1rem);
        border-radius: .5rem; 
        z-index: 1; 
    }

    grid {
        grid-template-columns: 1fr 1fr 1fr; 
        width: min(1250px, 100%); 
        z-index: 2;
        transform: translateY(var(--grid-image-transform));
    }

    grid article {
        font-size: 1.25em;
        background-color: #f9f9f9;
        box-shadow: 0 0 .5rem -.25rem gray;
        transition: box-shadow .2s ease, gap .2s ease;
        width: 100%;
        height: var(--grid-image-height); 
        border-radius: .25rem;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
    }

</style>