---
import Layout from "@layouts/Layout.astro"
import { pbFetch, removeTags } from "@functions";
import NewsCard from "@components/NewsCard.astro";
import Pagination from "@components/Pagination.astro";

const news: Array<Article> = await pbFetch({
  collection: "news",
  sort: "-published_date",
  expand: "author",
  interval: {
    start: 0,
    end: 4
  }
});

---

<Layout
	title="Nyheter - Sustainable action foundation"
	description="Nyheter"
>
	<main>
		<section class="padding-inline-50 padding-bottom-300">
            <container class="margin-inline-auto">
                <h1 class="text-align-center margin-block-300">Nyheter</h1>
                <grid class="news-grid-layout" style="--nr_columns: 4;">
                    { news.map((article: Article) => (
                        <NewsCard article={article} />
                    )) }
                </grid>
                <flex class="justify-content-center margin-top-300">
                    <Pagination
                        length={1}
                        current_index={1}
                        initial_route={{text: 'nyheter', href: '/nyheter'}}
                    />
                </flex>
            </container>
        </section>
    </main>
</Layout>
