---
	import Layout from "@layouts/Layout.astro"
---

<Layout
	title="Nyheter - Sustainable action foundation"
	description="Nyheter"
>
	<main>
		<section class="padding-inline-50 padding-block-300">
            <container-text class="margin-inline-auto">
                <h1>Nyheter</h1>
            </container-text>
        </section>
    </main>
</Layout>
