---
import Layout from "@layouts/Layout.astro"
import { pbFetch, removeTags } from "@functions";
import NewsCard from "@components/NewsCard.astro";

const news: Array<Article> = await pbFetch({
  collection: "news",
  sort: "-published_date",
});


news.forEach((article: Article) => {
    const previewString = removeTags(article.text)
    if (previewString && previewString.length > 100) {
        article.preview = `${previewString.slice(0, 97)}...`
    } else if (previewString) {
        article.preview = previewString
    }
})

---

<Layout
	title="Nyheter - Sustainable action foundation"
	description="Nyheter"
>
	<main>
		<section class="padding-inline-50 padding-bottom-300">
            <container class="margin-inline-auto">
                <h1>Nyheter</h1>
                <grid class="news-grid-layout gap-100">
                    { news.map((article: Article) => (
                        <NewsCard article={article} />
                    )) }
                </grid>
            </container>
        </section>
    </main>
</Layout>

<style>

    h1 {
        text-align: center;
        margin-block: 3rem;
        font-size: 2rem;
    }     

    .news-grid-layout {
        grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    }

</style>