---
import Layout from "@layouts/Layout.astro"
import { pbFetch } from "@functions";
import NewsCard from "@components/NewsCard.astro";
import Pagination from "@components/Pagination.astro";

// TODO: figure out typing when pbFetch does not return an array of items
const news: any = await pbFetch({
  collection: "news",
  sort: "-published_date",
  expand: "author",
  list_options: {
    page: 0,
    perPage: 4
  }
});

---

<Layout
	title="Nyheter - Sustainable action foundation"
	description="Nyheter"
    url="https://sustainable-action.org/nyheter/"
    image_url="https://images.unsplash.com/photo-1473984951266-787b955c9e0b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
>
	<main>
		<section class="padding-inline-50 padding-bottom-300">
            <container class="margin-inline-auto">
                <h1 class="text-align-center margin-block-300">Nyheter</h1>
                <grid class="news-grid-layout" style="--nr_columns: 4;">
                    { news.items.map((article: Article) => (
                        <NewsCard article={article} />
                    )) }
                </grid>
                <flex class="justify-content-center margin-top-300">
                    <Pagination
                        length={news.totalPages}
                        current_index={1}
                        initial_route={{text: 'nyheter', href: '/nyheter'}}
                    />
                </flex>
            </container>
        </section>
    </main>
</Layout>
