---
import Layout from "@layouts/Layout.astro"
import { pbFetch, removeTags } from "@functions";
import NewsCard from "@components/NewsCard.astro";

const news: Array<Article> = await pbFetch({
  collection: "news",
  sort: "-published_date",
  expand: "author"
});

---

<Layout
	title="Nyheter - Sustainable action foundation"
	description="Nyheter"
>
	<main>
		<section class="padding-inline-50 padding-bottom-300">
            <container class="margin-inline-auto">
                <h1 class="text-align-center margin-block-300">Nyheter</h1>
                <grid class="news-grid-layout" style="--nr_columns: 4;">
                    { news.map((article: Article) => (
                        <NewsCard article={article} />
                    )) }
                </grid>
            </container>
        </section>
    </main>
</Layout>
