---
import CoworkerCard from "@components/CoworkerCard.astro";
import { pbFetch } from "@functions";
import Layout from "@layouts/Layout.astro";

const people: Array<Person> = await pbFetch({
  collection: "people",
  sort: "name",
});

---

<Layout
  title="Medarbetare - Sustainable action foundation"
  description="Medarbetare"
  url="https://sustainable-action.org/medarbetare/"
  image_url="https://images.unsplash.com/photo-1473984951266-787b955c9e0b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  default_link_color="black"
>
  <main>
    <section class="padding-inline-50 padding-bottom-300">
      <container class="margin-inline-auto">
        <h1 class="text-align-center margin-block-300">Våra Medarbetare</h1>
        <grid class="coworkers-grid-layout margin-inline-auto" style=`--nr_columns: ${people.length > 4 ? 4 : people.length};`>
          { people.filter(person => person.employed).map((person: Person) => (
            <CoworkerCard person={person} />
          )) }
        </grid>
      </container>
    </section>
  </main>
</Layout>
