---
	import Layout from "@layouts/Layout.astro"
---

<Layout
	title="Medarbetare - Sustainable action foundation"
	description="Medarbetare"
>
	<main>
		<section class="padding-inline-50">
            <container class="margin-inline-auto">
                <h1>Våra Medarbetare</h1>
                <h2>Styrelse</h2>
                <p>...</p>
                <h2>Utvecklare</h2>
                <p>...</p>
            </container>
        </section>
    </main>
</Layout>

