---
import CoworkerCard from "@components/CoworkerCard.astro";
import { pbFetch } from "@functions";
import Layout from "@layouts/Layout.astro";

const people: Array<Person> = await pbFetch({
  collection: "people",
  sort: "-created",
});

---

<Layout
  title="Medarbetare - Sustainable action foundation"
  description="Medarbetare"
>
  <main>
    <section class="padding-inline-50 padding-bottom-300">
      <container class="margin-inline-auto">
        <h1 <h1 class="text-align-center margin-block-300">>Våra Medarbetare</h1>
        <grid class="coworkers-grid-layout margin-inline-auto" style=`--nr_columns: ${people.length > 4 ? 4 : people.length};`>
          { people.map((person: Person) => (
            <CoworkerCard person={person} />
          )) }
        </grid>
      </container>
    </section>
  </main>
</Layout>
