---
import CoworkerCard from "@components/CoworkerCard.astro";
import { pbFetch } from "@functions";
import Layout from "@layouts/Layout.astro";

const people: Array<Person> = await pbFetch({
  collection: "people",
  sort: "-created",
});

---

<Layout
  title="Medarbetare - Sustainable action foundation"
  description="Medarbetare"
>
  <main>
    <section class="padding-inline-50 padding-bottom-300">
      <container-custom class="margin-inline-auto">
        <h1>Våra Medarbetare</h1>
        <grid class="custom-grid">
          { people.map((person: Person) => (
            <CoworkerCard person={person} />
          )) }
        </grid>
      </container-custom>
    </section>
  </main>
</Layout>

<style>
  h1 {
    text-align: center;
    margin-block: 3rem;
    font-size: 2rem;
  }

  .custom-grid {
    grid-template-columns: repeat(auto-fit, minmax(min(256px, 100%), 1fr ));
    gap: 3rem;
  }

  container-custom {
    display: block;
    width: min(1000px, 100%);
  }

</style>