---
import Dropdown from '@components/Dropdown.astro';
import Hamburger from '@components/Hamburger.astro';
import '@styles/main.css';


interface Props {
	title: string,
	description: string,
}

const { title, description } = Astro.props;

const hem: Route = {
	text: "Hem", 
	href: "/",
}

const om: Route = {
	text: "Om", 
	href: "/om",
    subroutes: [
        {text: "Om", href: "/om"},
        {text: "Medarbetare", href: "/medarbetare"}
    ]
}

const links = [
	hem,
	om,
]


---

<html lang="se">
	<head>
		<link rel="icon" type="image/svg+xml" href="/favicon.jfif" />
		<title>{title}</title>
		<meta name="description" content={description}>

		<meta name="viewport" content="width=device-width" />		
		<meta name="generator" content={Astro.generator} />
		<meta charset="utf-8" />

		<script>
			const header = document.getElementsByTagName("header")[0];
			header.style.backgroundColor = 'unset';

			window.onscroll = function() {
				if (window.scrollY > 50) {
					header.style.transition = 'background-color .2s ease'
					header.style.backgroundColor = 'rgba(245, 245, 245, .9)';
					header.style.backdropFilter = 'blur(1px)'
				} else {
					header.style.transition = 'background-color .2s ease'
					header.style.backgroundColor = 'unset';
					header.style.backdropFilter = 'unset'
				}
			};
        </script>

	</head>
	<body>
		<header class="position-sticky padding-inline-50 padding-block-100">
			<container class="margin-inline-auto flex align-items-center justify-content-space-between">
				<strong class="font-weight-500">Sustainable action foundation</strong>
				<flex class="align-items-center justify-content-flex-end gap-100">
					<nav class="flex align-items-center gap-100">
						<a href="/">Hem</a>
						<Dropdown route={{	
								text: 'Om oss', 
								href: '/om', 
								subroutes: [
									{text: 'Om oss', href: '/om'}, 
									{text: 'Medarbetare', href: '/medarbetare'}
								]
							}} 
						/>
					</nav>
					<a href="/#contact" class="call-to-action">Kontakta oss</a>
					<div class="hamburger">
						<Hamburger links={links} />
					</div>
				</flex>
			</container>
		</header>
        <slot></slot>
		<footer class="padding-50">
			<container-text class="margin-inline-auto">
				<flex class="align-items-center justify-content-space-between gap-100 flex-wrap-wrap">
					<nav>
						<a href="https://www.linkedin.com/company/stiftelsen-sustainable-action/posts/" target="_blank">
							<img src="/icons/linkedin.svg" width="24" height="24">
						</a>
					</nav>
					<div>
						<script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" is:inline defer></script>
						<div id="wcb" class="carbonbadge"></div>
					</div>
				</flex>
			</container-text>
		</footer>
	</body>
</html>

<style>
    body {
        margin: 0;
        background-color: rgb(245, 245, 245);
    }

	header {
		top: 0;
		z-index: 9999;
		background-color: rgb(245, 245, 245, .9);
	}

	header:has(input[type="checkbox"]:checked) {
        background-color: rgba(245, 245, 245, .9) !important;
    }

	header a:not(.call-to-action) {
		color: black;
		font-weight: 500;
		text-decoration: none;
		text-underline-offset: 2px;
	}

	header a:hover:not(.call-to-action) {
		text-decoration: 2px underline;
	}

	.call-to-action {
		text-decoration: none;
		font-weight: 500;
		border-radius: 2px;
		padding: .5rem;
		background-color: black;
		color: white;
		transition: box-shadow .2s ease,
					background-color .2s ease;
	}

	.call-to-action:hover {
		background-color: #191919;
		box-shadow: 2px 2px black;
	}

	a:has(img[src="/icons/linkedin.svg"]) {
		padding: .5rem;
		display: grid;
		border-radius: 9999px;
		transition: background-color .2s ease;
	}

	a:has(img[src="/icons/linkedin.svg"]):hover {
		background-color: #e0e6eb;
	}

    .hamburger {
		display: none;
		@media(max-width: 850px) {
			display: initial;
		}
	}

	header nav {
		@media(max-width: 850px) {
			display: none;
		}
	}

</style>