---
import '@styles/main.css';
---

<html lang="se">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sustainable action foundation</title>
	</head>
	<body>
        <slot></slot>
		<footer class="padding-50">
			<container-text class="margin-inline-auto display-flex align-items-center justify-content-flex-end ">
				<script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" is:inline defer></script>
				<div id="wcb" class="carbonbadge"></div>
			</container-text>
		</footer>
	</body>
</html>

<style>
    body {
        margin: 0;
        background-color: #f5f5f5;
    }
</style>